<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="webpage icon" type="png" href="Image/why-choose-us.png">
    <title>Home - Roex Design</title>
    <link rel="stylesheet" href="home.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link
        href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/simple-parallax-js@5.5.1/dist/simpleParallax.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

</head>

<body>

    <!-- toggle -->



    <!-- toggle -->

    <div id="cursor"></div>
    <div id="stalker"></div>
    <video class="h-[100%] w-[100%]" src="Image/video (1).mp4" loop="" muted="" autoplay="" playsinline=""></video>

    <div class="main1 h-[117vh] w-[100%] bg-transparent absolute top-0">

        <!-- header -->

        <header class="h-[10vh] w-[100%] flex justify-between items-center fixed top-0 pt-0 sm:pt-3"
            style="z-index: 100;">
            <div class="box1 flex justify-start items-center ps-[5%]">
                <img class="h-[5vh]" src="Image/site-logo-white-23.png" alt="">
            </div>
            <div class="box1 flex justify-start items-center pe-[5%]">
                <div class="box2 me-10">

                    <p class="text-[#747171] text-center hidden sm:block">Support Center</p>
                    <p class="text-[#747171] text-center font-bold hidden sm:block">99988 02828</p>
                </div>

                <div class="box2">
                    <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop"
                        aria-controls="offcanvasTop"><img class="icon1" src="Image/menu-grey.png" alt=""></button>

                    <div class="offcanvas offcanvas-top" style="height: 100vh;" tabindex="-1" id="offcanvasTop"
                        aria-labelledby="offcanvasTopLabel">
                        <div class="toggle">
                            <div class="toggle2 flex fixed">
                                <div class="toggle1 h-[100%] w-[20%] hidden md:block">

                                    <div class="logo h-[20vh] flex justify-center items-center"
                                        style="border: 1px solid #514f4f;">
                                        <img src="Image/site-logo-white-2.png" alt="">
                                    </div>
                                    <center>
                                        <div class="follow mt-[30vh]">
                                            <p class="text-white text-xl font-bold">Follow Us</p>
                                            <p class="text-white text-xl mt-3 hover:opacity-50">Instagram</p>
                                            <p class="text-white text-xl hover:opacity-50">Behance</p>
                                            <p class="text-white text-xl hover:opacity-50">Facebook</p>
                                            <p class="text-white text-xl hover:opacity-50">YouTube</p>
                                        </div>
                                    </center>
                                </div>
                                <div class="toggle4 h-[100%] w-[100%] md:w-[60%]">
                                    <div
                                        class="icon2 flex justify-center items-center relative top-[3%] left-[80%] sm:left-[90%] opacity-100 md:opacity-0">
                                        <button type="button" class="btn-close relative top-[3%] left-[0%]"
                                            data-bs-dismiss="offcanvas" aria-label="Close"></button>

                                    </div>
                                    <div class="text h-[15vh] w-[100%] flex items-center justify-start mt-24" id="txt1">
                                        <a href="index.html"
                                            class="text-3xl no-underline text-white md:text-5xl hover:opacity-50 ms-10">HOME</a>
                                    </div>

                                    <div class="text h-[15vh] w-[100%] flex items-center justify-start" id="txt1">
                                        <a href="About Us/about_us.html"
                                            class="text-3xl no-underline text-white md:text-5xl hover:opacity-50 ms-10">OUR
                                            COMPANY</a>
                                    </div>

                                    <div class="text h-[15vh] w-[100%] flex items-center justify-start" id="txt1">
                                        <a href="Services/service.html"
                                            class="text-3xl no-underline text-white md:text-5xl hover:opacity-50 ms-10">SERVICES</a>
                                    </div>

                                    <div class="text h-[15vh] w-[100%] flex items-center justify-start" id="txt1">
                                        <a href="Portfolio/portfolio.html"
                                            class="text-3xl no-underline text-white md:text-5xl hover:opacity-50 ms-10">PORTFOLIO</a>
                                    </div>

                                    <div class="text h-[15vh] w-[100%] flex items-center justify-start" id="txt1">
                                        <a href="Blog/blog.html"
                                            class="text-3xl no-underline text-white md:text-5xl hover:opacity-50 ms-10">BLOGS</a>
                                    </div>

                                    <div class="text h-[15vh] w-[100%] flex items-center justify-start" id="txt1">
                                        <a href=""
                                            class="text-3xl no-underline text-white md:text-5xl hover:opacity-50 ms-10">CONTACT</a>
                                    </div>



                                </div>
                                <div class="toggle3 h-[100%] w-[20%] hidden md:block">

                                    <div
                                        class="icon2 flex justify-center items-center relative top-[3%] left-[70%] sm:left-[80%] opacity-100 md:opacity-0">
                                        <button type="button" class="btn-close relative top-[3%] left-[0%]"
                                            data-bs-dismiss="offcanvas" aria-label="Close"></button>

                                    </div>

                                    <div class="box2 relative top-[35%] left-[8%]">
                                        <p class="text-xl">Get in Touch</p>
                                        <p class="mt-5 hover:opacity-50">+(91) - 999-880-2828</p>
                                        <p class="mt-3 hover:opacity-50">info@roexdesign.com</p>
                                        <p class="mt-3 hover:opacity-50">245 Dorset CT, Piscataway, New<br> Jersey
                                            08854
                                            USA</p>
                                    </div>

                                    <img class="relative top-[57%]" src="Image/11.png" alt="">
                                    <img class="relative top-[30%] left-[45%]" src="Image/12.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

    </div>
    <!-- header -->

    <div class="main2 absolute top-[12%] md:top-[18%] left-[8%] w-[82%]">
        <div class="txt1 hidden sm:block">
            <p class="text-xl md:text-2xl text-white sm:text-white font-bold">WE ARE</p>
        </div>

        <div class="txt1 w-[100%] hidden sm:block">
            <p
                class="text-5xl sm:text-9xl md:text-[150px] lg:text-[250px] text-white sm:text-white font-bold relative bottom-0 md:bottom-[3vh]">
                ROEX</p>
        </div>

        <div class="txt1 flex justify-end xl:justify-between relative">
            <p class="text-xl hidden xl:block">
                At Roex Design we cater to all your<br> branding and IT needs. Unleash your<br> brand's potential
                with our<br>
                comprehensive services. From<br> captivating identities to digital<br> strategies, we've got you
                covered.<br>
                Experience excellence and innovation<br> - contact us today and let's elevate<br> your brand
                together!
            </p>
            <p
                class="text-5xl hidden sm:block sm:text-9xl md:text-[150px] lg:text-[250px] w-auto text-white sm:text-white font-bold relative bottom-0 md:bottom-[8vh]">
                DESIGN</p>
        </div>
    </div>
    </div>
    <br>
    <div
        class="box3 h-[13vh] w-[3%] opacity-0 md:opacity-100 border-2 border-black relative left-[10%] rounded-3xl flex justify-center items-center animate-bounce">
        <img src="Image/arrow-down-sm.png" alt="">
    </div>

    <div class="box4 flex justify-center items-center overflow-hidden bg-white text-black">
        <img class="img3 object-cover" src="Image/roex_banner_img.png" alt="">
    </div>

    <div class="main3 w-[80%] ms-[10%] sm:m-32">
        <p class="text-3xl text-black text-center font-semibold">Empowering Top Brands</p>
        <p class="text-xl text-black text-center mt-3">Join the Ranks of Our Prestigious Clientele</p>

        <div class="box4 flex justify-between flex-wrap lg:flex-nowrap">
            <div class="box5 w-[50%] md:w-[33%] lg:w-[16%] flex justify-center items-center"><img
                    src="Image/client02.svg" alt=""></div>
            <div class="box5 w-[50%] md:w-[33%] lg:w-[16%] flex justify-center items-center"><img
                    src="Image/client03.svg" alt=""></div>
            <div class="box5 w-[50%] md:w-[33%] lg:w-[16%] flex justify-center items-center"><img
                    src="Image/client04.svg" alt=""></div>
            <div class="box5 w-[50%] md:w-[33%] lg:w-[16%] flex justify-center items-center"><img
                    src="Image/client01.svg" alt=""></div>
            <div class="box5 w-[50%] md:w-[33%] lg:w-[16%] flex justify-center items-center"><img
                    src="Image/client05.svg" alt=""></div>
            <div class="box5 w-[50%] md:w-[33%] lg:w-[16%] flex justify-center items-center"><img
                    src="Image/client06.svg" alt=""></div>
        </div>
    </div>

    <div class="main4 h-[12vh] bg-[#ffb2b2] flex justify-center items-center">
        <marquee behavior="alternate" direction="">
            <div class="box6 flex justify-center items-center text-3xl gap-[80px] text-black">
                <a href="">3D RENDERING</a>
                <a href="">WEB DESIGNING</a>
                <a href="">SOCIAL MEDIA</a>
                <a href="">PRINTING MEDIA</a>
                <a href="">BRANDING</a>

                <a href="">3D RENDERING</a>
                <a href="">WEB DESIGNING</a>
                <a href="">SOCIAL MEDIA</a>
                <a href="">PRINTING MEDIA</a>
                <a href="">BRANDING</a>

                <a href="">3D RENDERING</a>
                <a href="">WEB DESIGNING</a>
                <a href="">SOCIAL MEDIA</a>
                <a href="">PRINTING MEDIA</a>
                <a href="">BRANDING</a>

                <a href="">3D RENDERING</a>
                <a href="">WEB DESIGNING</a>
                <a href="">SOCIAL MEDIA</a>
                <a href="">PRINTING MEDIA</a>
                <a href="">BRANDING</a>

                <a href="">3D RENDERING</a>
                <a href="">WEB DESIGNING</a>
                <a href="">SOCIAL MEDIA</a>
                <a href="">PRINTING MEDIA</a>
                <a href="">BRANDING</a>
            </div>

        </marquee>
    </div>

    <div class="main5 bg-center flex">
        <div class="box7 w-[100%] lg:w-[70%] ">

            <div class="box8 w-[100%] flex justify-center md:justify-end">
                <h1 class="text-black text-4xl md:text-6xl font-semibold mt-20">
                    At Roex Design Our Passion<br>
                    and Creativity Shine<br>
                    Through in Every Detail
                </h1>
            </div>

            <div class="box9 flex flex-wrap md:flex-nowrap mt-12">
                <div class="box10 w-[100%] md:w-[60%] flex justify-center md:justify-end">
                    <img class="img1 object-cover w-[80%]" src="Image/about_2.png" alt="">
                </div>
                <div class="box11 w-[100%] md:w-[40%]">
                    <p class="text-black mt-12 text-xl text-center md:text-left">
                        At Roex Design, we breathe life into brands, creating
                        captivating visuals, unforgettable logos, and stunning
                        web designs. We understand that every brand has a
                        story to tell, and we craft immersive experiences that
                        evoke emotion and forge deep connections. From
                        brand identity to web design, our passion and
                        creativity shine through in every detail. Let us
                        transform your brand into an extraordinary
                        masterpiece that leaves a lasting impression.
                    </p>
                    <br><br>
                    <center>
                        <button class="btn1"> About Us
                        </button>
                    </center>
                </div>
            </div>

        </div>
        <div class="box7 hidden lg:block lg:w-[30%]">
            <center>
                <img class="img2 object-cover mt-32" src="Image/about_1.png" alt="">
            </center>
        </div>
    </div>

    <div class="main6 bg-black mt-10">
        <div class="main7 w-[90%] ms-[5%] flex flex-wrap md:flex-nowrap pt-24">
            <div class="box8 w-[100%] md:w-[30%] flex-wrap">
                <p class="text-xl pt-3">Service</p>

                <p class="text-4xl md:text-6xl font-semibold pt-5">Solution we<br> provide</p>
            </div>
            <div class="box8 w-[100%] md:w-[50%] flex justify-start md:justify-center items-center">
                <p class="opacity-50 w-[80%] text-xl hover:opacity-100">
                    Unlock a range of comprehensive services that drive
                    brand success. Our team is dedicated to creating
                    impactful solutions tailored to your unique needs
                </p>
            </div>
            <div class="box8 w-[100%] md:w-[20%] flex justify-start md:justify-center items-center">
                <button class="btn1">View All<br> Services
                </button>
            </div>
        </div>

        <div class="main8 w-[95%] ms-[2.5%] lg:w-[90%] lg:ms-[5%] mt-10">
            <div class="main9 flex">
                <div class="box9 w-[0%] lg:w-[30%] flex justify-center">
                    <img class="img4 hidden md:block h-[30vh] py-5" src="Image/Web-development.jpg" alt="">
                </div>
                <div class="box9 w-[100%] lg:w-[70%] flex flex-wrap md:flex-nowrap border-t-2 border-[#555454]">

                    <div class="box10 flex justify-start md:justify-center items-center w-[100%] md:w-[10%] py-5">
                        <p class="px-0 md:px-5 text-3xl">01</p>
                    </div>
                    <div class="box10 flex justify-start md:justify-center items-center w-[100%] md:w-[30%] py-5">
                        <center>
                            <p class="text-2xl md:3xl" id="p1">
                                Web & Mobile development
                            </p>
                        </center>
                    </div>
                    <div class="box10 flex justify-start md:justify-center items-center w-[100%] md:w-[50%] py-5">
                        <center>
                            <p class="text-left w-[100%]md:w-[75%] opacity-50">We create custom online and mobile apps,
                                provide full-stack solutions as a front-end and
                                back-end developer and create strong digital experiences, including Progressive Web Apps
                                (PWAs), with expertise in iOS and Android development and Flutter.</p>
                        </center>
                    </div>
                    <div class="box10 flex justify-center items-center opacity-0 md:opacity-100 w-[0%] md:w-[10%] py-5">
                        <i class="fa-solid fa-location-arrow text-5xl" id="icon3"></i>
                    </div>

                </div>
            </div>

            <div class="main9 flex">
                <div class="box9 w-[0%] lg:w-[30%] flex justify-center">
                    <img class="img4 hidden md:block h-[30vh] py-5" src="Image/interective-design.jpg" alt="">
                </div>
                <div class="box9 lg:w-[70%] flex flex-wrap md:flex-nowrap border-t-2 border-[#555454]">

                    <div class="box10 flex justify-start md:justify-center items-center w-[100%] md:w-[10%] py-5">
                        <p class="px-0 md:px-5 text-3xl">02</p>
                    </div>
                    <div class="box10 flex justify-start md:justify-center items-center w-[100%] md:w-[30%] py-5">
                        <!-- <center> -->
                        <p class="text-2xl md:text-3xl text-start sm:text-center" id="p1">
                            Graphic<br> Designing
                        </p>
                        <!-- </center> -->
                    </div>
                    <div class="box10 flex justify-start md:justify-center items-center w-[100%] md:w-[50%] py-5">
                        <center>
                            <p class="text-left w-[100%]md:w-[75%] opacity-50">
                                We create compelling graphic designs for your concept. Motion graphics, 3D, and strong
                                abstract forms are our specialties. We make beautiful, ethical designs with a hint of
                                inclusion, surreal maximalism, and vivid vintage imagery. We deliver UX/UI and virtual
                                reality smoothly and entertainingly.
                            </p>
                        </center>
                    </div>
                    <div class="box10 flex justify-center items-center opacity-0 md:opacity-100 w-[0%] md:w-[10%] py-5">
                        <i class="fa-solid fa-location-arrow text-5xl" id="icon3"></i>
                    </div>

                </div>
            </div>

            <div class="main9 flex">
                <div class="box9 w-[0%] lg:w-[30%] flex justify-center">
                    <img class="img4 hidden md:block h-[30vh] py-5" src="Image/digital-marketing.jpg" alt="">
                </div>
                <div class="box9 w-[100%] lg:w-[70%] flex flex-wrap md:flex-nowrap border-t-2 border-[#555454]">

                    <div class="box10 flex justify-start md:justify-center items-center w-[100%] md:w-[10%] py-5">
                        <p class="px-0 md:px-5 text-3xl">03</p>
                    </div>
                    <div class="box10 flex justify-start md:justify-center items-center w-[100%] md:w-[30%] py-5">
                        <center>
                            <p class="text-2xl md:text-3xl text-start sm:text-center" id="p1">
                                Digital<br> Marketing
                            </p>
                        </center>
                    </div>
                    <div class="box10 flex justify-start md:justify-center items-center w-[100%] md:w-[50%] py-5">
                        <center>
                            <p class="text-left w-[100%]md:w-[75%] opacity-50">
                                At Roex Design, we boost your brand through digital marketing strategies such as social
                                media, SEO, PPC, video, and content marketing. Data-driven analytics and tailored email
                                marketing maximize engagement and conversions for your company.
                            </p>
                        </center>
                    </div>
                    <div class="box10 flex justify-center items-center opacity-0 md:opacity-100 w-[0%] md:w-[10%] py-5">
                        <i class="fa-solid fa-location-arrow text-5xl" id="icon3"></i>
                    </div>

                </div>
            </div>


            <div class="main9 flex">
                <div class="box9 w-[0%] lg:w-[30%] flex justify-center">
                    <img class="img4 hidden md:block h-[30vh] py-5" src="Image/branding.jpg" alt="">
                </div>

                <div class="box9 w-[100%] lg:w-[70%] flex flex-wrap md:flex-nowrap border-t-2 border-[#555454]">

                    <div class="box10 flex justify-start md:justify-center items-center w-[100%] md:w-[10%] py-5">
                        <p class="px-0 md:px-5 text-3xl">04</p>
                    </div>
                    <div class="box10 flex justify-start md:justify-center items-center w-[100%] md:w-[30%] py-5">
                        <center>
                            <p class="text-2xl md:text-3xl text-start sm:text-center" id="p1">
                                Branding and<br> Strategy
                            </p>
                        </center>
                    </div>
                    <div class="box10 flex justify-start md:justify-center items-center w-[100%] md:w-[50%] py-5">
                        <center>
                            <p class="text-left w-[100%]md:w-[75%] opacity-50">
                                We create engaging brand experiences through brand strategy and storytelling. Our brand
                                strategy and distinct brand voice reflect our brand values and personality. Graphic
                                brand identification and brand marketing help your brand stand out and connect with your
                                audience.
                            </p>
                        </center>
                    </div>

                    <div class="box10 flex justify-center items-center opacity-0 md:opacity-100 w-[0%] md:w-[10%] py-5">
                        <i class="fa-solid fa-location-arrow text-5xl" id="icon3"></i>
                    </div>

                </div>
            </div>

        </div>
    </div>



    <div class="main10">
        <div class="feedback_image flex mt-32 overflow-hidden">
            <div class="img1 w-[50%] flex justify-center items-center overflow-hidden">
                <img class="img5 object-cover hidden md:block" src="Image/feeback_image_5.jpg" alt="">
            </div>
            <div class="img1 w-[50%] flex justify-center items-center overflow-hidden">
                <img class="img5 object-cover hidden md:block" src="Image/feeback_image_4.jpg" alt="">
            </div>
        </div>

        <div class="feedback flex">
            <div class="feedback1 hidden lg:block w-[25%]">

                <img class="img2 object-cover ms-16 mt-32" src="Image/feeback_image_6.jpg" alt="">
                <img class="img2 object-cover ms-16 mt-12" src="Image/feeback_image_1.jpg" alt="">

            </div>

            <div class="feedback2 w-[100%] lg:w-[50%]">

                <div class="swiper mySwiper1">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <center>
                                <i class="fa-solid fa-quote-left text-7xl text-black"></i>

                                <p
                                    class="text-center mt-20 w-[85%] text-black text-xl lg:text-2xl leading-8 lg:leading-10">
                                    "Working with Roex Design for our product videos was an absolute game-changer! They
                                    brought our products to life in a way that exceeded our expectations. The videos
                                    were
                                    engaging, visually stunning, and perfectly captured the essence of our brand. Thanks
                                    to
                                    their expertise, our products are now showcased in a whole new light, leading to
                                    increased customer engagement and sales."
                                </p>

                                <p class="text-3xl font-semibold mt-8 text-black">SARAH MITCHELL</p>
                                <p class="font-light text-sm mt-3 text-gray-600">NEW YORK CITY, USA</p>

                                <div class="button flex justify-center mt-10">
                                    <div
                                        class="left h-[50px] w-[50px] rounded-[50%] flex justify-center items-center border border-black">
                                        <i class="fa-solid fa-arrow-left"></i>
                                    </div>

                                    <div
                                        class="right h-[50px] w-[50px] rounded-[50%] flex justify-center items-center border border-black ms-3">
                                        <i class="fa-solid fa-arrow-right"></i>
                                    </div>
                                </div>

                            </center>

                        </div>

                        <div class="swiper-slide">
                            <center>
                                <i class="fa-solid fa-quote-left text-7xl text-black"></i>

                                <p
                                    class="text-center mt-20 w-[85%] text-black text-xl lg:text-2xl leading-8 lg:leading-10">
                                    "Choosing Roex Design for our web designing needs was one of the best decisions we
                                    made for our business. Their team of talented designers and developers crafted a
                                    stunning website that perfectly reflects our brand's identity. They were attentive
                                    to our requirements, and their attention to detail is exceptional. Our website is
                                    not only visually appealing but also user-friendly, resulting in increased traffic
                                    and conversions. We highly recommend Roex Design for anyone seeking a professional
                                    and captivating web presence."
                                </p>

                                <p class="text-3xl font-semibold mt-8 text-black">MICHAEL STEVENS</p>
                                <p class="font-light text-sm mt-3 text-gray-600">TORONTO, CANADA</p>

                                <div class="button flex justify-center mt-10">
                                    <div
                                        class="left h-[50px] w-[50px] rounded-[50%] flex justify-center items-center border border-black">
                                        <i class="fa-solid fa-arrow-left"></i>
                                    </div>

                                    <div
                                        class="right h-[50px] w-[50px] rounded-[50%] flex justify-center items-center border border-black ms-3">
                                        <i class="fa-solid fa-arrow-right"></i>
                                    </div>
                                </div>
                            </center>
                        </div>

                        <div class="swiper-slide">
                            <center>
                                <i class="fa-solid fa-quote-left text-7xl text-black"></i>

                                <p
                                    class="text-center mt-20 w-[85%] text-black text-xl lg:text-2xl leading-8 lg:leading-10">

                                    "Roex Design's graphic designing skills are unparalleled! They have an incredible
                                    eye for detail and a knack for creating visually stunning product posts. Our social
                                    media engagement skyrocketed after they revamped our graphics. They perfectly
                                    captured our brand's style and delivered exceptional results. Their creativity and
                                    professionalism are unmatched, and we highly recommend their services to anyone in
                                    need of top-notch graphic design."

                                </p>

                                <p class="text-3xl font-semibold mt-8 text-black">EMILY THOMSAN</p>
                                <p class="font-light text-sm mt-3 text-gray-600">SYDNEY, AUSTRALIA</p>

                                <div class="button flex justify-center mt-10">
                                    <div
                                        class="left h-[50px] w-[50px] rounded-[50%] flex justify-center items-center border border-black">
                                        <i class="fa-solid fa-arrow-left"></i>
                                    </div>

                                    <div
                                        class="right h-[50px] w-[50px] rounded-[50%] flex justify-center items-center border border-black ms-3">
                                        <i class="fa-solid fa-arrow-right"></i>
                                    </div>
                                </div>
                            </center>
                        </div>

                        <div class="swiper-slide">
                            <center>
                                <i class="fa-solid fa-quote-left text-7xl text-black"></i>

                                <p
                                    class="text-center mt-20 w-[85%] text-black text-xl lg:text-2xl leading-8 lg:leading-10">

                                    "Roex Design's graphic designing skills are unparalleled! They have an incredible
                                    eye for detail and a knack for creating visually stunning product posts. Our social
                                    media engagement skyrocketed after they revamped our graphics. They perfectly
                                    captured our brand's style and delivered exceptional results. Their creativity and
                                    professionalism are unmatched, and we highly recommend their services to anyone in
                                    need of top-notch graphic design."

                                </p>

                                <p class="text-3xl font-semibold mt-8 text-black">MIHIR DAVE</p>
                                <p class="font-light text-sm mt-3 text-gray-600">AHMEDABAD, INDIA</p>

                                <div class="button flex justify-center mt-10">
                                    <div
                                        class="left h-[50px] w-[50px] rounded-[50%] flex justify-center items-center border border-black">
                                        <i class="fa-solid fa-arrow-left"></i>
                                    </div>

                                    <div
                                        class="right h-[50px] w-[50px] rounded-[50%] flex justify-center items-center border border-black ms-3">
                                        <i class="fa-solid fa-arrow-right"></i>
                                    </div>
                                </div>
                            </center>
                        </div>
                    </div>

                </div>

            </div>

            <div class="feedback3 hidden lg:block w-[25%]">

                <img class="img2 object-cover ms-16 mt-32" src="Image/feeback_image_3.jpg" alt="">
                <img class="img2 object-cover ms-16" src="Image/feeback_image_2.jpg" alt="">
            </div>
        </div>
    </div>

    <div class="main11 bg-black mt-16">
        <h1 class="text-5xl md:text-[150px] text-center pt-28">WORK</h1>

        <div class="main12 w-[80%] ms-[10%] flex justify-between mt-10">
            <div class="box10 w-[48%]">
                <div class="imgs1">
                    <img class="object-cover w-[100%]" data-aos="flip-down" src="Image/flavour_granito.jpg" alt="">
                </div>
                <div class="imgs1">
                    <img class="object-cover w-[100%] mt-5 md:mt-16" data-aos="flip-down"
                        src="Image/logoandstationaries.jpg" alt="">
                </div>

                <div class="imgs1">
                    <img class="object-cover w-[100%] mt-5 md:mt-16" data-aos="flip-down"
                        src="Image/3dvisualization.jpg" alt="">
                </div>
            </div>

            <div class="box10 w-[48%] mt-10 md:mt-52 sm:mt-[200px] lg:mt-[400px]">
                <div class="imgs2">
                    <img class="object-cover w-[100%]" data-aos="flip-down" src="Image/3dvisualization.jpg" alt="">
                </div>

                <div class="imgs2">
                    <img class="object-cover w-[100%] mt-5 md:mt-16" data-aos="flip-down"
                        src="Image/digitalmarketing.jpg" alt="">
                </div>

                <div class="imgs2">
                    <img class="object-cover w-[100%] mt-5 md:mt-16" data-aos="flip-down"
                        src="Image/3dvisualization.jpg" alt="">
                </div>
            </div>
        </div>
        <center>

            <div class="box8 w-[100%] md:w-[20%] mt-20 pb-20 flex justify-start md:justify-center items-center">
                <button class="btn1">View All<br> Projects
                </button>
            </div>
        </center>
    </div>

    <div class="slider1 overflow-hidden">
        <div class="swiper mySwiper2">
            <div class="swiper-wrapper">
                <div class="swiper-slide h-[110vh] flex justify-center items-center bg-[#fffaf0]">
                    <p
                        class="text-black font-normal text-[50px] sm:text-[100px] lg:text-[200px] leading-[50px] sm:leading-[100px] md:leading-[130px] lg:leading-[180px]">
                        WHY<br> CHOOSE US</p>
                </div>
                <div class="swiper-slide bg-[#f3ecec]">

                    <div class="main12 w-[90%] ms-[5%] flex flex-wrap">
                        <div class="box10 w-[100%] lg:w-[50%] flex justify-start items-center">
                            <div class="box11">

                                <p class="text-black text-left text-sm mt-10 lg:ms-0">WHY CHOOSE US</p>

                                <p class="text-6xl font-normal text-left text-black pt-10">DEFINING ROEX<br> DESIGN</p>

                                <p class="text-black font-normal text-left pt-10 text-[18px] w-[100%] lg:w-[70%]">
                                    Roex Design excels in 3D rendering, crafting visuals with unparalleled depth. Our
                                    web design emphasizes seamless user experiences, harmonizing aesthetics and
                                    function. Precision-engineered social media posts and catalog designs amplify
                                    impact, propelled by data-driven strategies. Choose us for a transformative digital
                                    presence that surpasses industry standards.
                                </p>
                            </div>
                        </div>

                        <div class="box10 w-[100%] lg:w-[50%] flex justify-center items-center my-20">
                            <div class="box12">
                                <div class="box13 sm-0 lg:ms-20 flex">
                                    <div class="box14">
                                        <div
                                            class="box15 h-[180px] w-[180px] flex justify-center items-center rounded-[50%] border-2 border-black">
                                            <p class="text-4xl font-normal text-black">90%</p>
                                        </div>
                                    </div>
                                    <div class="box14 flex justify-center items-center">
                                        <div class="text9">
                                            <p class="text-2xl text-left text-black font-normal ps-5">ENGAGEMENT &<br>
                                                CONVERSION FUSION
                                            </p>

                                            <p
                                                class="text-black text-left font-normal text-[16px] w-[100%] lg:w-[70%] pt-5 ps-5">
                                                Maximize engagement and conversions with our seamless social media and
                                                catalog designs. Every interaction is a step towards conversion, leaving
                                                no
                                                room for uncertainty.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="box13 flex mt-5">
                                    <div class="box14">
                                        <div
                                            class="box15 h-[180px] w-[180px] flex justify-center items-center rounded-[50%] border-2 border-black">
                                            <p class="text-4xl font-normal text-black">95%</p>
                                        </div>
                                    </div>
                                    <div class="box14 flex justify-center items-center">
                                        <div class="text9">
                                            <p class="text-2xl text-left text-black font-normal ps-5">REALISM & IMPACT
                                            </p>

                                            <p
                                                class="text-black text-left font-normal text-[16px] w-[100%] lg:w-[60%] pt-5 ps-5">
                                                Immerse in our 3D renders for depth and realism. From architecture to
                                                products, our views captivate, setting your brand apart.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="box13 flex mt-5 sm-0 lg:ms-20">
                                    <div class="box14">
                                        <div
                                            class="box15 h-[180px] w-[180px] flex justify-center items-center rounded-[50%] border-2 border-black">
                                            <p class="text-4xl font-normal text-black">95%</p>
                                        </div>
                                    </div>
                                    <div class="box14 flex justify-center items-center">
                                        <div class="text9">
                                            <p class="text-2xl text-left text-black font-normal ps-5">AESTHETICS &<br>
                                                FUNCTIONALITY SYNERGY
                                            </p>

                                            <p class="text-black text-left font-normal text-[16px] w-[60%] ps-5 pt-5">
                                                Immerse in our 3D renders for depth and realism. From architecture to
                                                products, our views captivate, setting your brand apart.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="swiper-slide bg-[#fffaf0]">
                    <div class="main15 flex flex-wrap w-[90%] ms-[5%]">
                        <div class="box15 w-[100%] md:w-[40%]">
                            <p class="text-black text-left mt-24">WHY<br> CHOOSE US</p>

                            <div class="box16 flex flex-wrap">
                                <div class="box17 w-[50%] mt-28">
                                    <p class="text-black font-normal text-5xl sm:text-8xl text-left">25k</p>

                                    <p class="text-black text-sm sm:text-xl text-left font-normal">Project<br> completed
                                    </p>
                                </div>
                                <div class="box17 w-[50%] mt-28">
                                    <p class="text-black font-normal text-5xl sm:text-8xl text-left">8k</p>

                                    <p class="text-black text-sm sm:text-xl text-left font-normal">Happy<br> customers
                                    </p>
                                </div>
                                <div class="box17 w-[50%] mt-28">
                                    <p class="text-black font-normal text-5xl sm:text-8xl text-left">15</p>

                                    <p class="text-black text-sm sm:text-xl text-left font-normal">Years<br> experiences
                                    </p>
                                </div>
                                <div class="box17 w-[50%] mt-28 mb-28">
                                    <p class="text-black font-normal text-5xl sm:text-8xl text-left">98</p>

                                    <p class="text-black text-sm sm:text-xl text-left font-normal">Awards<br> achivement
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="box15 w-[100%] md:w-[60%] flex items-end justify-center">
                            <img class="object-cover" src="Image/why-choose-us.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="swiper-slide bg-[#e0e3cc] flex justify-center items-center h-[110vh]">
                    <div class="main16">
                        <p class="text-5xl md:text-9xl text-black font-normal">
                            Start Your Digital Transformation Today. Contact Us!
                        </p>

                        <br>
                        <button class="btn2">View All<br> Projects
                        </button>
                    </div>
                </div>
                <div class="swiper-pagination"></div>

            </div>
        </div>
    </div>


    <center>
        <p class="text-xl font-normal text-black mt-5 lg:mt-32">Recent Blog</p>
        <p class="text-2xl sm:text-5xl font-bold text-black">BLOG</p>
    </center>

    <div class="main17 flex justify-end mt-32">
        <div class="main19">
            <footer class="footer w-[90%] ms-[5%] my-[5%]">
                <div class="footer1 flex flex-wrap justify-between">
                    <div class="foot1 w-[100%] sm:w-[50%] lg:w-[25%] pt-12 sm:pt-24 ps-5">
                        <img class="object-cover" src="Image/site-logo-white-2.png" alt="">

                        <p class="pt-5 opacity-50">
                            At Roex Design we cater to all your branding and IT needs. Unleash your brand's potential
                            with
                            our comprehensive services.
                        </p>
                        <i class="fa-brands fa-facebook-f opacity-50 text-2xl pt-5"></i>
                        <i class="fa-brands fa-behance opacity-50 ps-2 text-2xl pt-5"></i>
                        <i class="fa-brands fa-instagram opacity-50 ps-2 text-2xl pt-5"></i>
                        <i class="fa-brands fa-youtube opacity-50 ps-2 text-2xl pt-5"></i>
                    </div>
                    <div
                        class="foot1 w-[100%] sm:w-[50%] lg:w-[25%] pt-12 sm:pt-24 ps-5 sm:ps-0 flex justify-start sm:justify-center">
                        <div class="text">
                            <p class="text-xl font-semibold">Information</p>
                            <p class="pt-3 opacity-50 hover:opacity-100">Home</p>
                            <p class="pt-3 opacity-50 hover:opacity-100">Company Profile</p>
                            <p class="pt-3 opacity-50 hover:opacity-100">Services</p>
                            <p class="pt-3 opacity-50 hover:opacity-100">Portfolio</p>
                            <p class="pt-3 opacity-50 hover:opacity-100">Contact Us</p>
                        </div>
                    </div>
                    <div class="foot1 w-[100%] sm:w-[50%] lg:w-[25%] pt-12 sm:pt-24 ps-5 sm:ps-0">
                        <div class="text">
                            <p class="text-xl font-semibold">Information</p>

                            <p class="pt-3 opacity-50 hover:opacity-100">245 Dorset CT, Piscataway, New<br> Jersey 08854
                                USA</p>
                            <p class="pt-3">+(91) - 999-880-2828</p>
                            <p class="pt-3 opacity-50 hover:opacity-100">jenish@roexdesign.com</p>
                        </div>
                    </div>
                    <div class="foot1 w-[100%] sm:w-[50%] lg:w-[25%]  pt-20 sm:pt-24 bg-[#1d1d1d]">
                        <div class="text">
                            <p class="text-2xl sm:text-4xl text-left ps-5 sm:ps-0 sm:text-center leading-[45px]">Empower
                                Your<br> Brand Digitally.<br> Reach
                                Out Now!</p>

                            <!-- <center> -->
                            <div class="btn flex justify-start sm:justify-center ps-5 sm:ps-0">

                                <button class="btn1 mt-10 sm:mt-20">Contact Us
                                </button>
                            </div>
                            <!-- </center> -->
                            <!-- <center> -->
                            <p class="font-semibold mt-5 ps-5 sm:ps-0 text-left sm:text-center">10 : 00 AM - 07 : 00 PM
                            </p>
                            <p class="pt-3 opacity-50 ps-5 sm:ps-0 text-left sm:text-center hover:opacity-100">Monday -
                                Friday</p>
                            <!-- </center> -->
                        </div>
                    </div>
                </div>
                <br>
                <hr>
                <p class="py-5 ps-3">© 2009 - 2023 | Copyrighted By Rutul Kakadiya</p>
            </footer>
        </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

</body>

</html>

<script>
    AOS.init();
</script>

<script src="home.js"></script>

<script src="Common Section/script.js"></script>